[v-cloak] {
	display: none !important;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.flex-item {
	margin: 10px;
	background-color: #fff;
	border: solid 1px rgba(0, 0, 0, 0.125);
	border-radius: 4px;
}

.custom-card {
	width: 469px;
}

.custom-card p.card-text {
	color: #444;
	line-height: 1;
}

.secondary {
	font-size: 0.6em;
	color: #999;
}

.inner {
	overflow: hidden;
}

.inner img {
	transition: all 0.5s ease;
}

.inner:hover img {
	transform: scale(1.5);
}

@media screen and (max-width: 469px) {
	.custom-card {
		width: 100%;
	}
}